{% if page.collection == 'publications' %}
  <!-- Citation Metadata (Highwire Press and Dublin Core) -->
  <meta name="citation_title" content="{{ page.title | escape }}">
  {% for author in page.authors %}
    <meta name="citation_author" content="{{ author | escape }}">
  {% endfor %}
  <meta name="citation_publication_date" content="{{ page.date | date: '%Y/%m/%d' }}">
  {% if page.journal %}
    <meta name="citation_journal_title" content="{{ page.journal | escape }}">
  {% elsif page.venue %}
    <meta name="citation_journal_title" content="{{ page.venue | escape }}">
  {% endif %}
  {% if page.volume %}<meta name="citation_volume" content="{{ page.volume }}">{% endif %}
  {% if page.number %}<meta name="citation_issue" content="{{ page.number }}">{% endif %}
  {% if page.pages %}
    {% assign pages = page.pages | split: '-' %}
    <meta name="citation_firstpage" content="{{ pages[0] }}">
    <meta name="citation_lastpage" content="{{ pages[1] }}">
  {% endif %}
  {% if page.doi %}<meta name="citation_doi" content="{{ page.doi }}">{% endif %}
  {% if page.paperurl %}<meta name="citation_pdf_url" content="{{ page.paperurl }}">{% endif %}

  <meta name="DC.title" content="{{ page.title | escape }}">
  {% for author in page.authors %}
    <meta name="DC.creator" content="{{ author | escape }}">
  {% endfor %}
  <meta name="DC.date" content="{{ page.date | date: '%Y-%m-%d' }}">
  {% if page.journal or page.venue %}
    <meta name="DC.publisher" content="{{ page.journal | default: page.venue | escape }}">
  {% endif %}
  {% if page.doi %}
    <meta name="DC.identifier" content="{{ page.doi }}">
  {% endif %}
{% endif %}
